[submodule "ansible/roles/docker.ubuntu"]
	path = ansible/roles/docker.ubuntu
	url = https://github.com/angstwad/docker.ubuntu
[submodule "roles/baseball/docker-baseball"]
	path = roles/baseball/docker-baseball
	url = https://github.com/systemslab/docker-baseball.git
[submodule "experiments/sc16"]
	path = experiments/sc16
	url = https://github.com/michaelsevilla/sc16.git
[submodule "swift/dockerfiles"]
	path = swift/dockerfiles
	url = https://github.com/michaelsevilla/docker-swift.git
[submodule "hadoop/dockerfiles"]
	path = hadoop/dockerfiles
	url = https://github.com/michaelsevilla/docker-hadoop.git
[submodule "ceph/ceph-ansible"]
	path = ceph/ceph-ansible
	url = https://github.com/michaelsevilla/ceph-ansible.git
[submodule "gassyfs/dockerfiles"]
	path = gassyfs/dockerfiles
	url = https://github.com/michaelsevilla/gassyfs.git
[submodule "ceph/dockerfiles"]
	path = ceph/dockerfiles
	url = https://github.com/michaelsevilla/docker-cephdev.git
