[submodule "ansible/roles/docker.ubuntu"]
	path = ansible/roles/docker.ubuntu
	url = https://github.com/angstwad/docker.ubuntu
[submodule "roles/baseball/docker-baseball"]
	path = roles/baseball/docker-baseball
	url = https://github.com/systemslab/docker-baseball.git
[submodule "roles/ceph/docker-cephdev"]
	path = roles/ceph/docker-cephdev
	url = https://github.com/ivotron/docker-cephdev.git
[submodule "roles/emaster/docker-emaster"]
	path = roles/emaster/docker-emaster
	url = https://github.com/michaelsevilla/docker-emaster.git
[submodule "roles/ceph/docker-parser"]
	path = roles/ceph/docker-parser
	url = https://github.com/michaelsevilla/docker-parser.git
[submodule "roles/zlog/docker-zlog/zlog"]
	path = roles/zlog/docker-zlog/zlog
	url = https://github.com/noahdesu/zlog.git
[submodule "roles/hadoop/docker-hadoop"]
	path = roles/hadoop/docker-hadoop
	url = https://github.com/michaelsevilla/docker-hadoop.git
[submodule "modules/ansible-xml"]
	path = modules/ansible-xml
	url = https://github.com/cmprescott/ansible-xml.git
